@import "tailwindcss";

@layer base {
  html,
  body {
    overflow-x: hidden;
    max-width: 100%;
  }

  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
